# INSTALL DI TERMUX (2 langkah):
#   pkg install python-cryptography -y
#   pip install paramiko requests librouteros rich
#
# INSTALL DI LINUX:
#   sudo apt install python3-dev build-essential libssl-dev -y
#   pip install cryptography paramiko requests librouteros rich

requests>=2.28
paramiko>=3.0
librouteros>=3.2
rich>=13.0
